// Breakpoints
$breakSingleColumn: 768px;

// Need a different grid for dates
.column, .columns{
  display: block;
  box-sizing: border-box;
  padding: 20px;
}

.day.column{
  border-bottom: 1px solid #ccc;
}

.mobile-days-controller{
  box-sizing: border-box;
  padding: 0 20px;
}
