// Base Grid
.main{
  min-height: 600px;
  overflow: hidden;
  @include perspective(2000px);
  position: relative;
  @include self-clear;
}

.column, .columns{
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 20px;
}

@include grid;

// Specfic Grids
.calendar-grid, .timeform-grid{
  width: 100%;
}
.calendar-grid{
  position: relative;
  z-index: 1;

  &.is-showing{
    @media screen and (min-width: $breakSingleColumn){
      @include animation(panel-focus .3s $easeOut 0 both);
    }
  }

  &.is-hidden{
    @media screen and (min-width: $breakSingleColumn){
      @include animation(panel-blur .3s $easeOut 0 both);
    }
  }
}

@include keyframes(panel-blur){
  from{
    opacity: 1;
    @include transform( scale3d(1, 1, 1) );
    transform-style: preserve-3d;
  }
  to{
    opacity: 0.5;
    @include transform( scale3d(.85, .85, .5) );
    transform-style: preserve-3d;
  }
}

@include keyframes(panel-focus){
  to{
    opacity: 1;
    @include transform( scale3d(1, 1, 1) );
    transform-style: preserve-3d;
  }
  from{
    opacity: 0.5;
    @include transform( scale3d(.85, .85, .5) );
    transform-style: preserve-3d;
  }
}

.timeform-grid{
  background: white;
  box-sizing: content-box;
  padding: 0 20%;
  position: absolute;
  left: 100%;
  @include self-clear;
  transition: .4s left $easeOut .2s;
  top: 0;
  width: 100%;
  z-index: 999;

  @media screen and (min-width: $breakSingleColumn){
    box-sizing: border-box;
    background: none;
    padding: 0 0 0 66%;
  }

  &.is-showing{
    left: -20%;

    @media screen and (min-width: $breakSingleColumn){
      left: 0%;
    }
  }
}

.timeform{
  box-sizing: border-box;
  padding: 20px;
  width: 100%;

  @media screen and (min-width: $breakSingleColumn){
    background: #fff;
    box-shadow: rgba(0,0,0,.2) -3px 0 5px;
  }
}

.form-fields{
  list-style: none;

  .column, .columns{
    padding: 0 10px;
  }
}
