---
title: Welcome to Middleman
---

<menu class="week-header">
  <a href="#settings" class="foundicon-settings icon" title="Settings"></a>

  <ul class="week-controls">
    <li><a href="#previous-week" class="foundicon-left-arrow icon"></a></li>
    <li><h2><a href="#months">October 2013</a></h2></li>
    <li><a href="#next-week" class="foundicon-right-arrow icon"></a></li>
  </ul>

  <a href="#add-time" class="foundicon-plus icon" title="Add Time"></a>
</menu>
<section class="calendar-grid">
  <menu>
    <ol class="mobile-days-controller">
      <li>
        <a href="#monday" class="mobile-day-controller"><date title="date will appear here"><span class="day">Mon</span> <span class="date">26</span><sup>th</sup></date></a>
      </li>
      <li>
        <a href="#tuesday" class="mobile-day-controller is-active"><date title="date will appear here"><span class="day">Tue</span> <span class="date">27</span><sup>th</sup></date></a>
      </li>
      <li>
        <a href="#wednesday" class="mobile-day-controller"><date title="date will appear here"><span class="day">Wed</span> <span class="date">28</span><sup>th</sup></date></a>
      </li>
      <li>
        <a href="#thursday" class="mobile-day-controller"><date title="date will appear here"><span class="day">Thr</span> <span class="date">29</span><sup>th</sup></date></a>
      </li>
      <li>
        <a href="#friday" class="mobile-day-controller"><date title="date will appear here"><span class="day">Fri</span> <span class="date">30</span><sup>th</sup></date></a>
      </li>
    </ol>
  </menu>
  <ol class="days-list">
    <li class="day-column">
      <article class="day-group">
        <header class="day-header">
          <h3 class="subheader center"><date title="date will appear here">Mon 26<sup>th</sup></date></h3>
        </header>
        <a href="#" class="panel task">
          <strong>4 hours</strong> on Project Name for Client Name
        </a>
        <a href="#" class="panel task">
          <strong>6 hours</strong> on Project Name for Client Name
        </a>
        <a href="#add-time" class="button expand">
          <i class="foundicon-plus"></i> Add time
        </a>
      </article>
    </li>
    <li class="day-column is-active">
      <article class="day-group">
        <header class="day-header">
          <h3 class="subheader center"><date title="date will appear here">Tue 27<sup>th</sup></date></h3>
        </header>
        <a href="#" class="panel task">
          <strong>8 hours</strong> on Project Name for Client Name
        </a>
        <a href="#add-time" class="button expand">
          <i class="foundicon-plus"></i> Add time
        </a>
      </article>
    </li>
    <li class="day-column">
      <article class="day-group">
        <header class="day-header">
          <h3 class="subheader center"><date title="date will appear here">Wed 28<sup>th</sup></date></h3>
        </header>
        <div class="task-empty">Nothing billed yet</div>
      </article>
      <a href="#add-time" class="button expand">
        <i class="foundicon-plus"></i> Add time
      </a>
    </li>
    <li class="day-column">
      <article class="day-group">
        <header class="day-header">
          <h3 class="subheader center"><date title="date will appear here">Thr 29<sup>th</sup></date></h3>
        </header>
        <div class="task-empty">Nothing billed yet</div>
      </article>
      <a href="#add-time" class="button expand">
        <i class="foundicon-plus"></i> Add time
      </a>
    </li>
    <li class="day-column">
      <article class="day-group">
        <header class="day-header">
          <h3 class="subheader center"><date title="date will appear here">Fri 30<sup>th</sup></date></h3>
        </header>
        <div class="task-empty">Nothing billed yet</div>
      </article>
      <a href="#add-time" class="button expand">
        <i class="foundicon-plus"></i> Add time
      </a>
    </li>
  </ol>
</section>
<section class="timeform-grid">

</section>
